#JAVA
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#INTELLIJ IDEA
# User-specific stuff:
.idea/
*.iml
out/

#Serenity
target/
build/

#gradle
.gradle/